<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/static/resource/marked.min.js" crossorigin="anonymous"></script>
  <script src="/static/resource/purify.min.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <title>Ollama Chat</title>
</head>
<link rel="stylesheet" href="/static/resource/bootstrap.css" />
<link rel="stylesheet" href="/static/styles.css" />
<link rel="stylesheet" href="/static/extra.css" />
<link rel="stylesheet" href="/static/prefrence.css" />

<body>
  <div class="universe">
    <div class="container_n">
      <div class="heading">
        <div>
          <h2>Ollama Chat</h2>
        </div>
        <select id="select_model_btn">
          Select model
        </select>
        <div class="action_bar">
          <div class="actions">

            <div class="save" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saave_modal">

              <i class="fa-regular fa-floppy-disk"></i>
            </div>
            <div class="cmd_mode " class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#terminal_modal">
              <i class="fa-solid fa-terminal"></i>
            </div>
            <div class="dropdown ">
              <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#manage_voice">Manage
                    Voice</a></li>
                <!-- <li><a class="dropdown-item" href="#">history</a></li> -->
                <li>
                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingmodal"> Prefrence</a>
                </li>
                </button>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="new_msg"></div>
      <div class="input_message">
        <input type="text" id="userInput" placeholder="Type your message..." />
        <button id="submitButton">Send</button>
      </div>
    </div>
    <div class="content" id="speech_content">
      <div class="box">
        <div class="object">
          <div class="outline">
          </div>
          <div class="outline" id="delayed">
          </div>
          <div class="button">
          </div>
          <div class="button-container">
            <input type="checkbox" id="micButton" class="mic-checkbox">
            <label for="micButton" class="mic-button">
              <div class='mic'>
                <div class='mic-button-loader'>
                </div>
                <div class="mic-base">
                </div>
              </div>
              <div class="button-message">
                <span>
                  PRESS TO TALK
                </span>
              </div>
            </label>
          </div>

        </div>
      </div>
      <div class="gen_txt_con" id="gen_txt_con">
        Here will be generated text shown
      </div>
      <div class="speaker_div" id="speaker_div">
        <div id="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div>
          <button id="stopButton">Stop</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade custom-bg-modal" id="saave_modal" tabindex="-1" aria-labelledby="saave_modal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saave_modal">Save Chat</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@filename</span>
            <input type="text" class="form-control" id="file_name" placeholder="Filename" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="save_con" class="btn btn-primary" data-bs-dismiss="modal">Save Chat</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade custom-bg-modal" id="manage_voice" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Manage Voice</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="voiceSelect">Choose Voice:</label>
          <select id="voiceSelect"></select><br>

          <label for="pitchInput">Pitch (0 to 2):</label>
          <input type="range" class="range" id="pitchInput" min="0" max="2" step="0.1" value="1"><br>

          <label for="rateInput">Rate (0.1 to 2):</label>
          <input type="range" class="range" id="rateInput" min="0.1" max="2" step="0.1" value="1"><br>

          <button id="startButton">Preview Voice</button>
          <button id="stopButton">Stop</button>
          <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn">save</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade custom-bg-modal" id="terminal_modal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Teminal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="terminal-container">
            <div id="terminal-output"></div>
            <div class="terminal-input-line">
                <span class="terminal-prompt">user@localhost:~$</span>
                <input type="text" id="terminal-input" autofocus />
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade custom-bg-modal" id="settingmodal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered modal-dialog-scrollable w-75 p-3">
      <div class="modal-content custom-bg-modal">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Prefrence</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="tab">
            <!-- <button class="tablinks" onclick="openTab(event, 'User')" id="defaultOpen">User</button> -->
            <button class="tablinks" onclick="openTab(event, 'Modal') "id="defaultOpen">Models</button>
            <!-- <button class="tablinks" onclick="openTab(event, 'ChatUI')">Chat UI</button> -->
            <!-- <button class="tablinks" onclick="openTab(event, 'System')">System</button> -->
            <!-- <button class="tablinks" onclick="openTab(event, 'Other')">Other</button> -->
        </div>
        
        <div id="User" class="tabcontent">
            <h3>User</h3>
            <p>Settings related to user configurations will be displayed here.</p>
        </div>
        
        <div id="Modal" class="tabcontent">
            <h3>Modal</h3>
            <div id="modal_container">

            </div>
        </div>
        
        <div id="ChatUI" class="tabcontent">
            <h3>Chat UI</h3>
            <p>Customize the Chat UI elements and layout here.</p>
        </div>
        
        <div id="System" class="tabcontent">
            <h3>System</h3>
            <p>System-related settings and configurations will be displayed here.</p>
        </div>
        
        <div id="Other" class="tabcontent">
            <h3>Other</h3>
            <p>Additional settings and information can be added here.</p>
        </div>
        

        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn">save</button>
        </div>
      </div>
    </div>
  </div>
  <div id="notification_pannel"></div>
  <script src="/static/prefrence.js"></script>
  <script src="/static/cmd.js"></script>
  <script src="/static/feature.js"></script>
  <script src="/static/speech.js"></script>
  <script src="/static/script.js"></script>
  <script src="/static/resource/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/0d194b00b9.js" crossorigin="anonymous"></script>
</body>

</html>